@import "tailwindcss";

@theme {
  --color-transparent: transparent;
  --color-primary: #ffc000;
  --color-secondary1: #ffc000;
  --color-nu10: #ffffff;
  --color-nu20: #d0d0d0;
  --color-nu30: #000000;
  --color-nu40: #747474;
  --color-nu50: #474747;
  --color-nu60: #e6e6e6;
  --color-nu70: #e8e8e8;
  --color-nu80: #dbded7;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1296px;
  // --breakpoint-3xl: 1600px;
  // --breakpoint-4xl: 1700px;
}

@layer components {
  .container {
    @apply mx-auto max-sm:px-3 sm:max-w-[540px] sm:px-0 md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1296px];
  }

  .display-1 {
    @apply text-[36px] leading-[120%] font-bold md:text-[80px] lg:text-[100px] xl:text-[120px];
  }

  .display-2 {
    @apply text-[30px] font-bold leading-[120%] md:text-[64px] lg:text-[80px] xl:text-[100px];
  }

  .display-3 {
    @apply text-[30px] font-bold leading-[120%] md:text-[36px] lg:text-[56px] xl:text-[80px];
  }

  .display-4 {
    @apply text-[30px] font-bold leading-[120%] md:text-[36px] lg:text-[48px] xl:text-[64px];
  }

  .fs-one {
    @apply text-[30px] font-bold leading-[120%] md:text-[36px] xl:text-[48px];
  }

  .fs-two {
    @apply text-[20px] font-bold leading-[120%] sm:text-[24px] lg:text-[30px] 2xl:text-[40px];
  }

  .fs-three {
    @apply text-[20px] font-bold leading-[120%] sm:font-bold lg:text-[24px] 2xl:text-[32px];
  }

  .fs-four {
    @apply text-[18px] font-bold leading-[120%] md:text-[20px] md:font-bold 2xl:text-[24px];
  }

  .fs-five {
    @apply text-[16px] font-medium leading-[150%] md:text-[20px] md:font-medium;
  }

  .fs-six {
    @apply text-[16px] font-medium leading-[150%] shadow-none;
  }

  .fs-seven {
    @apply text-[12px] lg:text-[14px] font-medium leading-[150%] shadow-none;
  }

  .fs-eight {
    @apply text-[12px] font-medium shadow-none;
  }

  .btn-outline {
    @apply bg-transparent text-secondary1 border border-secondary1 hover:bg-secondary1 hover:text-nu10;
  }

  .btn-white {
    @apply border border-white bg-white text-secondary1 hover:bg-white dark:border-nu30 dark:bg-nu30;
  }

  .event-unset {
    pointer-events: unset;
  }
}

@layer base {
  i {
    font-size: 1.5rem;
  }

  a,
  p,
  span,
  td {
    @apply text-sm md:text-lg font-light;
  }

  span {
    @apply block;
  }

  h1 {
    @apply text-[30px] font-bold leading-[120%] md:text-[36px] xl:text-[48px];
  }

  h2 {
    @apply text-[20px] font-bold leading-[120%] sm:text-[24px] lg:text-[30px] 2xl:text-[40px];
  }

  h3 {
    @apply text-[20px] font-bold leading-[120%] sm:font-bold lg:text-[24px] 2xl:text-[32px];
  }

  h4 {
    @apply text-[18px] font-bold leading-[120%] md:text-[20px] md:font-bold 2xl:text-[24px];
  }

  h5 {
    @apply text-[16px] font-medium leading-[150%] md:text-[20px] md:font-medium;
  }

  h6 {
    @apply text-[16px] font-medium leading-[150%] shadow-none;
  }

  input:focus,
  textarea:focus {
    @apply outline-none;
  }

  * {
    font-family: "Lato", serif;
    box-sizing: border-box;
  }

  .fontMont {
    font-family: "Montserrat", serif;
  }

  .fontLato {
    font-family: "Lato", serif;
  }
}

@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table thead tr th:first-of-type {
    @apply sm:rounded-tl-lg;
  }

  table thead tr th:last-of-type {
    @apply sm:rounded-tr-lg;
  }

  table tbody tr:last-of-type td:first-of-type {
    @apply sm:rounded-bl-lg;
  }

  table tbody tr:last-of-type td:last-of-type {
    @apply sm:rounded-br-lg;
  }

  td {
    vertical-align: middle !important;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  input:checked+div {
    @apply border-primary;
  }

  input:checked+div svg {
    @apply block;
  }

  body {
    font-family: "Lato", serif;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-size: 18px;
    overflow-y: scroll;
  }

  input.picker[type="date"] {
    position: relative;
  }

  input.picker[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
  }
}